#Virtual environment
venv/*
#Python cache
__pycache__/
*.pyc
*.pyo

#Personal Config File, resort to Template, remove _Template suffix and fill in the values
config.json
config.py

#Audio Files, they are being deleted, just as failsafe, so they are not needed in the repo
audio/*.wave
audio/*.mp3