pyaudio
pygame
edge_tts
keyboard
ollama
faster-whisper
openwakeword
webrtcvad
pillow
pystray

# WINDOWS
# py -3.11 -m venv venv
# venv\Scripts\activate
# pip install -r requirements.txt

# DEBIAN/UBUNTU
# Install python3.11-venv
# python3.11 -m venv venv
# source venv/bin/activate
# pip install -r requirements.txt

# Personal Desktop has Windows OLLAMA with 3 AI's
# Personal Laptop has Linux OLLAMA with tinyllama